@model biblioteka.Models.Book

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń</h2>

<h3>Na pewno chcesz usunąć?</h3>
<div>
    <h4>Książka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tytuł
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Autor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            Cena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" />
        </div>
    }
</div>
